In [20]:
#import dependencies
import pandas as pd
import gmaps
from config import g_key
gmaps.configure(api_key=g_key)

In [21]:
#import
file_to_load = "weather_data/weatherpy_vacation.csv"
vacation_data_df = pd.read_csv(file_to_load)
vacation_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Yenagoa,NG,78.98,moderate rain,4.92,6.26,Amba Hotels Limited
1,11,Mataura,NZ,54.00,light rain,-46.19,168.86,Ellie's Villa
2,12,Waingapu,ID,82.02,light rain,-9.65,120.26,Pondok Wisata Elim
3,13,Faanui,PF,81.25,light rain,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
4,23,Morondava,MG,78.22,light rain,-20.30,44.28,La Case Bambou

In [22]:
itinerary = vacation_data_df.loc[(vacation_data_df["Country"] == "PH")].copy()

itinerary

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
19,185,San Quintin,PH,73.33,light rain,17.54,120.52,San Quintin River Resort
35,451,Sulangan,PH,81.46,light rain,11.14,123.72,Maia's Beach Resort
38,504,Tabuk,PH,71.44,heavy intensity rain,17.41,121.44,Grand Zion Garden Resort Hotel
45,558,Namuac,PH,71.20,moderate rain,18.61,121.17,Mariner's Hub

In [23]:
#destination lat, lngs
san_quintin = (17.54, 120.52)
sulangan = (11.14, 123.72)
tabuk = (17.41, 121.44)
namuac = (18.61, 121.17)

In [24]:
#info_box_template
#template for information box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store hotel names.
hotel_info = [info_box_template.format(**row) for index, row in itinerary.iterrows()]

In [25]:

# Add a heatmap of temperature for the vacation spots.
locations = itinerary[["Lat", "Lng"]]

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

direction_layer = gmaps.directions_layer(san_quintin, sulangan, waypoints=[namuac, tabuk], travel_mode ='DRIVING')

#add layers
fig.add_layer(marker_layer)
fig.add_layer(direction_layer)

fig

Figure(layout=FigureLayout(height='420px'))