In [44]:
#import dependencies
import pandas as pd
import gmaps
import requests

#import api key
from config import g_key

In [52]:
#load cities.csv file
file_to_load = "weather_data/cities.csv"
city_data_df = pd.read_csv(file_to_load)

#configure gmaps to use api key
gmaps.configure(api_key=g_key)

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [46]:
#creating variables
revised_city_data = city_data_df.loc[city_data_df["Max Temp"] > 0]
locations = revised_city_data[["Lat", "Lng"]]
max_temp = revised_city_data["Max Temp"]

#creating heatmap for temperature
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
#creating variables
locations = revised_city_data[["Lat", "Lng"]]
humidity = revised_city_data["Humidity"]
#creating heatmap for Humidity
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
#creating variables
locations = revised_city_data[["Lat", "Lng"]]
clouds = revised_city_data["Cloudiness"]
#creating heatmap for cloudiness
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
#creating variables
locations = revised_city_data[["Lat", "Lng"]]
wind = revised_city_data["Wind Speed"]
#creating heatmap for cloudiness
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [57]:
#identifying preferred cities based on user input
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.count()

City_ID       136
City          136
Country       136
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [60]:
#creating hotel_df 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
8       Hirara      JP     75.83  24.80  125.28
14      Bonthe      SL     82.60   7.53  -12.50
17       Kapaa      US     75.20  22.08 -159.32
22    Victoria      BN     78.80   5.28  115.24
25   Namatanai      PG     82.17  -3.66  152.44
41      Barrow      AR     85.19 -38.31  -60.23
44        Adre      TD     75.45  13.47   22.20
46   Nha Trang      VN     77.00  12.24  109.19
47     Rikitea      PF     75.38 -23.12 -134.97
51  Sao Filipe      CV     77.13  14.90  -24.50

In [61]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [69]:
 info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [70]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        pass

In [71]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Hirara,JP,75.83,24.80,125.28,Hotel Atoll Emerald Miyakojima
14,Bonthe,SL,82.60,7.53,-12.50,Bonthe Holiday Village
17,Kapaa,US,75.20,22.08,-159.32,Courtyard by Marriott Kaua'i at Coconut Beach
22,Victoria,BN,78.80,5.28,115.24,Tiara Labuan Hotel
25,Namatanai,PG,82.17,-3.66,152.44,Namatanai Hotel

In [72]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,\
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))